<app-nav></app-nav>
<!-- <div class="login-box">
    <p>Login</p>
    <form [formGroup]="form" (submit)="submit()">
        <div class="user-box">
            <input required formControlName="email" name="email"  type="email">
            <label >Email</label>
        </div>
        <div class="user-box">
            <input required formControlName="password" name="password"  type="password">
            <label >Password</label>
        </div>
        <button class="btn btn-secondary" type="submit" >Submit</button>
    </form>
    <p>Dont have an acount?<a routerLink="/login" class="a2">signup</a></p>
</div>
 -->



<section class="vh-100" style="background-color: #508bfc;">
    <div class="container py-5 h-100">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-12 col-md-8 col-lg-6 col-xl-5">
          <div class="card shadow-2-strong" style="border-radius: 1rem;">
            <div class="card-body p-5 text-center">
  
              <h3 class="mb-5">login</h3>
              <form [formGroup]="form" (submit)="submit()">
              <div class="form-outline mb-4">
                <input type="email" id="typeEmailX-2" class="form-control form-control-lg" required formControlName="email" name="email"/>
                <label class="form-label" for="typeEmailX-2">Email</label>
              </div>
  
              <div class="form-outline mb-4">
                <input type="password" id="typePasswordX-2" class="form-control form-control-lg" required formControlName="password" name="password"/>
                <label class="form-label" for="typePasswordX-2">Password</label>
              </div>
  
              <button class="btn btn-primary btn-lg btn-block" type="submit">Login</button>
              </form>
              <hr class="my-4">
  
              <p>Dont have an acount?<a routerLink="/register" class="a2">signup</a></p>
              <!-- <button class="btn btn-lg btn-block btn-primary" style="background-color: #dd4b39;"
                type="submit"><i class="fab fa-google me-2"></i> Sign in with google</button>
              <button class="btn btn-lg btn-block btn-primary mb-2" style="background-color: #3b5998;"
                type="submit"><i class="fab fa-facebook-f me-2"></i>Sign in with facebook</button> -->
  
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>